body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
}

header {
  height: 60px;
  background-color: cadetblue;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.5rem;
}

main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

section {
  height: 400px;
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.politica {
  background-color: red;
}

.esportes {
  background-color: green;
}

.famosos {
  background-color: orange;
}

footer {
  height: 60px;
  background-color: violet;
  display: flex;
  align-items: center;
}

@media (max-width: 720px) {
  section {
    width: 50%;
  }
}

@media (max-width: 540px) {
  section {
    width: 100%;
  }
}
